.intro {
  display: flex;
  justify-content: space-between;

  padding: 10rem 11.4vw 14rem 11.4vw;

  background: linear-gradient(
    78deg,
    #5680e9 -8.64%,
    rgba(136, 96, 208, 0.65) 113.97%
  );

  color: #fff;
}

.introInfo h1 {
  font-size: 6.4rem;
  font-weight: 700;
  max-width: 66.7rem;

  font-size: 6.4rem;
  font-weight: 700;
  line-height: 7.7rem;
}

.introInfo p {
  max-width: 34.6rem;
  padding-top: 2.8rem;
  padding-bottom: 6rem;
  line-height: 2.7rem;
}

.introBtn {
  color: #fff;
  width: 18.5rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 2rem;
  border-radius: 1.2rem;
  background: #5ab9ea;
}

.introImg {
  display: flex;
}

.introImg img {
  width: 100%;
}

@media (max-width: 1561px) {
  .intro {
    padding: 10rem 5vw 6.8rem 5vw;
  }
}

@media (max-width: 1018px) {
  .intro {
    justify-content: start;
  }

  .introImg {
    display: none;
  }
}
