header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 29px 11.4vw;

  background: linear-gradient(
    79deg,
    #5680e9 -22.95%,
    rgba(136, 96, 208, 0.65) 98.31%
  );
}

.headerLogo {
  color: #fff;
}

.buttonBlock {
  display: flex;
  grid-gap: 20px;
}

.headerLoginBtn {
  width: 100%;
  height: 50px;
  
  padding: 0 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background: #ffe492;

  color: #5F81E8;
  font-weight: 700;
}


@media(max-width: 1561px) {
  header {
      padding: 29px 5vw;
  }
}